html, body {
	min-height: 100vh;
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 1.15;
	font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f0f0f0;
}

h1,
h2,
h3,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: #75A5E5;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#site-wrap {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

header {
  height: 57px;
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

header .logo {
  height: 30px;
  margin-top: 3px;
}

header .menu {
  list-style: none;
  float: right;
}

header .menu li {
  display: inline-block;
}

header .menu a {
  display: inline-block;
  background-color: #75A5E5;
  color: #fff;
  font-weight: bold;
  font-weight: lighter;
  padding: 10px 13px;
  border-radius: 3px;
}

header .menu a:hover {
  background-color: rgb(74, 121, 182);
  cursor: pointer;
}

section h1 {
  color: #555;
  font-weight: lighter;
  text-align: center;
  margin: 30px 0 50px;
}

#flowers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;
}

.flower-wrap {
  width: 200px;
  padding: 0 5px 50px;
  flex-shrink: 0;
}

.flower-image {
  width: 100%;
  max-height: 180px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
}

.flower-title {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  color: #777;
  font-weight: lighter;
}